<app-header></app-header>
<main>
    <section class="main-section pad-80">
        <div class="headline">
            <span>PROFIT SUL</span>
            <h1>Corpo saudável, mente imbatível!</h1>
            <h2>Matricule-se já, planos a partir de R$99,90</h2>
        </div>
        <img ngSrc="./assets/foto-cara.png" width="669" height="536">
    </section>

    <section class="benefit-section pad-80" >
        <div class="benefit-data">
            <h3>Com 95% de aprovação</h3>
        </div>
        <p>Nossa academia oferece mais benefícios e é a <b>preferida</b> da maioria!</p>
    </section>
    <section>
        <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
    </section>
    <newletter-form></newletter-form>
</main>